@import 'tailwindcss';

body {
  font-family: 'Roboto Condensed', sans-serif;
}

.animated-bg {
  background: #000;
  position: relative;
  overflow: hidden;
}
.animated-bg::before {
  content: '';
  position: absolute;
  top: -30%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ec1d24;
  transition: top 0.5s ease-out;
  z-index: 0;
}
.animated-bg:hover::before {
  top: 0;
}
.cut-corner {
  clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 13px), calc(100% - 13px) 100%, 0 100%);
}

.mask {
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;

  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
}
.animated-bg:hover .mask {
  background: #fff;
}
.heart {
  mask-image: url('/heart.svg');
  -webkit-mask-image: url('/heart.svg');
  background: #ec1d24;
}
.heart-empty {
  mask-image: url('/heart-empty.svg');
  -webkit-mask-image: url('/heart-empty.svg');
  background: #fff;
}
