@import 'tailwindcss';

body {
  font-family: 'Roboto Condensed', sans-serif;
}

.animated-bg {
  background: #000;
  position: relative;
  overflow: hidden;
}
.animated-bg::before {
  content: '';
  position: absolute;
  top: -30%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ec1d24;
  transition: top 0.5s ease-out;
  z-index: 0;
}
.animated-bg:hover::before {
  top: 0;
}
.cut-corner {
  clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 13px), calc(100% - 13px) 100%, 0 100%);
}
