.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 48px;
  background-color: #000;
}
.logo {
  background-color: #ec1d24;
  border: solid 4px;
  cursor: pointer;
}

@media (width >= 40rem) {
  .header {
    padding: 16px;
  }
}
